*.o
*.swp
.gdb_history
.syntastic_cpp_config
.ycm_extra_conf.py*
TAGS
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build/
build-mingw.sh
config.*
configure
depcomp
gmon.out
install-sh
libtool
ltmain.sh
missing
release.sh
src/**/.deps/
src/**/.dirstamp
src/ahoviewer
src/ahoviewer.exe
src/file2string
src/ui.cc
src/version.h
stamp-h1
vgdump
