*.o
*.swp
.syntastic_cpp_config
TAGS
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
bump.sh
config.*
configure
depcomp
gmon.out
install-sh
libtool
ltmain.sh
missing
src/**/.deps/
src/**/.dirstamp
src/ahoviewer
src/file2string
src/ui.cc
stamp-h1
vgdump
