*.o
*.swp
*.exe
.gdb_history
.syntastic_cpp_config
.ycm_extra_conf.py*
TAGS
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build/
build-clang/
mingw-build/
build-mingw.sh
config.*
configure
depcomp
gmon.out
install-sh
libtool
ltmain.sh
massif.out.*
missing
release.sh
src/**/.deps/
src/**/.dirstamp
src/ahoviewer
src/ahoviewer.exe
src/resources.c
src/version.h
stamp-h1
vgdump
**/.vscode
.clangd
gtk.suppression
compile_commands.json
run-clang-tidy.py
.vim